<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{{ url_for('administrator.static', filename='css/login.css') }}" rel="stylesheet" media="screen">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="Description" content="Buy best iptv services and watch live stream channels for free" />
<meta name="keywords" lang="us" content="urhd.tv,live stream,urhd blog,buy iptv,iptv,best iptv,urhd iptv">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="fb" content="urhd.tv" />
<meta property="og:site_name" content="www.urhd.tv" />
<meta name="robots" content="index, follow"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<!------ Include the above in your HEAD tag ---------->
{% if title %}
<title>URHD.TV - {{ title }}</title>
{% else %}
<title>URHD.TV</title>
{% endif %}
</head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">URHD.TV-ADMIN</h1>
<div class="login-form">
<div class="main-div">
<div class="panel">
<h2>Dashboard Login</h2>
<p>Please enter your information</p>
</div>
<form id="Login">
<div class="form-group">
<input type="email" class="form-control" id="inputEmail" placeholder="Email Address">

</div>

<div class="form-group">

<input type="password" class="form-control" id="inputPassword" placeholder="Password">

</div>
<button type="submit" class="btn btn-warning">Login</button>
</form>
</div>
<p class="botto-text"> Copyright © URHD.TV [ Beta v ] 2017-2018</p>
</div></div></div>
</body>
</html>
