{% extends "layout.html" %}
{% block content %}
    
<!-- Page Content -->
<main>
<div class="container" style="height:1300px;">
<div class="row mt-5 pt-5">
<!-- Blog Entries Column -->
<div class="col-md-8">
<h1 class="my-4">Welcome in URHD.TV Blog
</h1>
<!-- Blog Post -->
<div class="card mb-4">
<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
<div class="card-body">
<h2 class="card-title"></h2>
<p class="card-text"></p>
<a href="#" class="btn btn-warning">Read More &rarr;</a>
</div>
<div class="card-footer text-muted">
Posted on January 1, 2017 by
<a href="#">ADMIN</a>
</div>
</div>
<!-- Blog Post -->
<div class="card mb-4">
<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
<div class="card-body">
<h2 class="card-title"></h2>
<p class="card-text"></p>
<a href="#" class="btn btn-warning">Read More &rarr;</a>
</div>
<div class="card-footer text-muted">
Posted on January 1, 2017 by
<a href="#">ADMIN</a>

</div>
</div>
<!-- Blog Post -->
<div class="card mb-4">
<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
<div class="card-body">
<h2 class="card-title"></h2>
<p class="card-text"></p>
<a href="#" class="btn btn-warning">Read More &rarr;</a>
</div>
<div class="card-footer text-muted">
Posted on January 1, 2017 by
<a href="#">ADMIN</a>
</div>
</div>
<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
<li class="page-item">
<a class="page-link" href="#">&larr; Older</a>
</li>
<li class="page-item disabled">
<a class="page-link" href="#">Newer &rarr;</a>
</li>
</ul>
</div>
<!-- Sidebar Widgets Column -->
<div class="col-md-4">
<!-- Search Widget -->
<div class="card my-4">
<h5 class="card-header">Search</h5>
<div class="card-body">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search for...">
<span class="input-group-btn">
<button class="btn btn-warning" type="button">Go!</button>
</span>
</div>
</div>
</div>
<!-- Side Widget -->
<div class="card my-4">
<h5 class="card-header"><i class="fa fa-television"></i> Live Stream</h5>
<div class="card-body">
Watch the new movies , and interesting events livestream on URHD.TV for free with unlimited access , 
</div>
</div>
<!-- Side Widget -->
<div class="card my-4">
<h5 class="card-header"><i class="fa fa-cubes"></i> Packages</h5>
<div class="card-body">
We offer more than 5000 worldwide channels [Germany,France,Arabic,Netherland ..] . get subscription to see all .
</div>
</div>
<!-- Side Widget -->
<div class="card my-4">
<h5 class="card-header"><i class="fa fa-unlock-alt"></i> Be a Reseler</h5>
<div class="card-body">
We offer best sales for our reseller , free controle, with unlimited tests, free subscribtion
</div>
</div>
</div>
</div>
<!-- /.row -->
</div>

{% endblock content %}