{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}Refund Policy{% endblock %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

<div class="page-container" id="PageContainer">
<main class="main-content" id="MainContent" role="main">
<div class="page-width">
<div class="grid">
<div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
<div class="section-header text-center">
<br>
<h1>Refund Policy</h1>
</div>
<div class="card">
<div class="card-body">
<div class="container">

Refund Policy
-----
<br>
Returns 
Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
</div>
</div>
</div>
</div>
</div>
</main>
</div>
</div>
</div>

{% endblock %}